{% layout "layout.liquid" %} {% block content %}
<div class="main-index">
  <a href="/users/signup"><button>Signup</button></a>
  <a href="/users/login"><button>Login</button></a>
</div>
{% endblock %}