.center {
    text-align: center;
}

body {
    background: #ecf2f9;
}

/* Styling the index page */
.main-index {
    height: 300px;
    width: auto;
}

.main-index::after {
    content: "minlist";
    text-decoration: underline;
    font-size: 150px;
    animation-name: wordAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes wordAnimation {
    0% {content: ""}
    14% {content: "m";
        font-size: 100px;}
    28% {content: "mi";
        font-size: 100px;}
    42% {content: "min";
        font-size: 100px;}
    56% {content: "minl";
        font-size: 100px;}
    70% {content: "minli";
        font-size: 100px;}
    84% {content: "minlis";
        font-size: 100px;}
    98% {content: "minlist";
        font-size: 100px;}
}

/* styling the login and sign up page */
.loginContainer {
    display: flex;
    justify-content: center;
}

.login {
    width: 400px;
    height: 400px;
    padding: 10px;
    background: #f0d9da;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login label {
    margin: 10px;
}

.login fieldset {
    text-align: center;
}