{% layout "layout.liquid" %} {% block content %}
<h1 class="center">account edit page</h1>
<a href="/users/account"><button>Back</button></a>
<a href="/users/account"><button>Update</button></a>
{% endblock %}