{% layout "layout.liquid" %} {% block content %}
<div class="center">
    <form action="" method="POST">
        <fieldset>
            <legend>New User</legend>
            <label>NAME: <input type="text" name="name" value="{{userInfo.name}}"></label><br>
            <label>PHONE: <input type="text" name="contactinfo" value="{{userInfo.contactinfo}}"></label><br>
            <label>USERNAME: <input type="text" name="username" value="{{userInfo.username}}"/> </label><br>
            <label>LOCATION: <input type="text" name="location" value="{{userInfo.location}}"/> </label><br>
            </label><br>
            <input type="submit" value="Update Info" />
        </fieldset>
    </form>
</div>
{% endblock %}