{% layout "layout.liquid" %} {% block content %}
<div class="center">
    <form action="" method="post">
        <fieldset>
            <legend>New User</legend>
            <label>USERNAME: <input type="text" name="username" required /> </label><br>
            <label>PASSWORD: <input type="password" name="password" required />
            </label>
            <input type="submit" value="Create Account" />
        </fieldset>
    </form>
</div>
{% endblock %}