<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS files -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/app.css">

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">

    <title>minlist</title>
</head>

<body>
    <header>
        <h1>minlist</h1>
    </header>

    <main>
        <div class="center">
            <form action="/users/signup" method="post">
                <fieldset>
                    <legend>New User</legend>
                    <label>NAME: <input type="text" name="name" required></label><br>
                    <label>PHONE: <input type="text" name="contactinfo"></label><br>
                    <label>USERNAME: <input type="text" name="username" required /> </label><br>
                    <label>PASSWORD: <input type="password" name="password" required />
                    </label><br>
                    <input type="submit" value="Create Account" />
                </fieldset>
            </form>
        </div>
    </main>
</body>

</html>