{% layout "layout.liquid" %} {% block content %}
<div class="center">
    <form action="/products/{{userId}}/add" method="post">
        <fieldset>
            <legend>New Product</legend>
            <label>NAME: <input type="text" name="name" required></label><br>
            <label>DESCRIPTION: <input type="text" name="description"></label><br>
            </label><br>
            <label>PRICE: <input type="text" name="price" required></label><br>
            <label>CONDITION: <input type="text" name="condition" list="condition">
                <datalist id="condition">
                    <option value="New/Excellent">
                    <option value="Good">
                    <option value="Fair">
                    <option value="Poor">
                </datalist>
            </label><br>
            <input type="submit" value="Create Product" />
        </fieldset>
    </form>
</div>
{% endblock %}